table{
  border-collapse: collapse;
}

th {
  width: 100px;
}

.title{
  background-color: yellow;
}

.title2{
  background-color: aquamarine;
}

.title3{
  background-color: rgb(89, 200, 241);
}
td{
  text-align: right;
}

.articulo{
  text-align: left;
}

.tabla2{
  margin-left: 200px;
}
h1{
  
  color: gray;
}